<h2>Your push was viewed</h2>
<p>Your push (<%= @push.url_token %>) was viewed.</p>
<p><strong>IP:</strong> <%= @audit_log.ip %></p>
<p><strong>Time:</strong> <%= @audit_log.created_at %></p>
<p><strong>Views remaining:</strong> <%= @push.views_remaining %></p>
