<% title(_('New Request Link')) %>

<main>
  <h3 class="mb-4"><%= _('Create a Request Link') %></h3>
  <p class="text-muted mb-4"><%= _('Create a link that lets someone submit secure content (passwords, files, URLs) to you.') %></p>
  <%= render "form" %>
</main>
